

ul, h1
{
  margin: 0px; auto;
  padding: 0px;
}

body
{
  margin: 0px auto;
  font-size: 0.75em;
  font-weight: normal;
  font-family: Arial;
  color: #4B4B4B;
  background: #FFFFFF;
}

p
{
  text-align: left;
  line-height: 1.6em;
  margin-top: 20px;
  padding: 20px 0px;
}

h1, h2
{
  font-size: 1.50em;
  font-weight: normal;
  font-family: 'Tauri',serif;
  text-transform: uppercase;
}

h3
{
  font-size: 1.0em;
  font-weight: normal;
  padding: 0px;
  margin: 0px;
  color: #737373;
  text-transform: none;
  line-height: 1.15em;
  margin-top: 8px;
}



footer nav, main
{
  max-width: 960px;
  margin: 0px auto;
  text-align: left;
}

.banner
{
  width: 100%;
  height: 100%;
}

main
{
  display: block;
  margin-top: 40px;
  padding: 0px 9px;
}

.smallteaser
{
  margin: -9px;
  list-style-type: none;
}

.smallteaser section
{
  float: left;
  width: 248px;
  background: #EFEFEF;
  padding: 30px;
  margin: 9px;
}

.smallteaser p
{
  border-top: 1px #D1D1D1 solid;
}

.smallteaser section p a
{
  float: right;
  padding: 5px 10px;
  margin-top: 20px;
}

.smallteaser p a:hover
{
  background-color: #909090;
}

.smallteaser.middle-child
{
  margin: 0px 18px;
}


section
{
  float: left;
  width: 40%;
  min-width: 248px;
  padding: 30px 5%;
}

section h1
{
  color: #313131;
}

.bigteaser p
{
  color: #FFFFFF;
}





footer
{
  float: left;
  width: 100%;
  margin-top: 40px;
  padding: 40px 0px;
  color: #757575;
  background: #fa774b;
}

footer nav ul
{
  float: left;
  list-style-type: none;
  margin-left: 30px;
  margin-right: 20px;
}



.bigteaser section
{
  background: #009ECE;
}

h1, h2
{
  color: #018DB8;
}



#bannerbild
{margin-left: auto;
margin-right: auto;
width: 60%}
